*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints

build
dist
.cache
__pycache__

Pipfile.lock

htmlcov
.coverage*
coverage.xml
.pytest_cache
*,cover

docs/_build
docs/src/_build
docs/apidocs
docs/src/api

# ide
.idea
.eclipse
.vscode

# Additional files from scripts/ska_low_sim
scripts/ska_low_sim/cable_delays/
scripts/ska_low_sim/gain-tables/
scripts/ska_low_sim/sky-models/
scripts/ska_low_sim/tec/
scripts/ska_low_sim/telescope-models/
