image: $SKA_K8S_TOOLS_BUILD_DEPLOY

stages:
  - lint
  - test
  - build
  - scan
  - publish
  - pages

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  POETRY_DOCS_INSTALL_GROUPS: main,docs

include:
  - project: 'ska-telescope/templates-repository'
    file:
      # Python jobs
      - "gitlab-ci/includes/python.gitlab-ci.yml"
      # OCI image jobs
      - 'gitlab-ci/includes/oci-image.gitlab-ci.yml'
      # Tag-based release management jobs
      - 'gitlab-ci/includes/release.gitlab-ci.yml'
      # Documentation jobs
      - 'gitlab-ci/includes/docs.gitlab-ci.yml'
      # Finaliser job
      - 'gitlab-ci/includes/finaliser.gitlab-ci.yml'
      # SonarQube Scan
      - 'gitlab-ci/includes/sonar-scan.gitlab-ci.yml'